<!-- food content from database (posts -->
<div class="stuff">
    <h1 class="food">Foods</h1>
    <div class="db-content">
        <div>
            <h2>Games</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Dish Name</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Dish Categories</h2>
            <div>

            </div>
        </div>
    </div>
</div>