<!-- navbar -->
<nav>
    <h1>Video Game Food Database
        <!-- Make link to home page? -->
    </h1>
    <div>
        <!-- make buttons links -->
        <ul>
            <li><a href="/">Make a post</a></li>
            <li><a href="">Games</a></li>
            <li><a href="/food">Dishes</a></li>
            <li><a href="/api/categories">Categories</a></li>
            <li><a href="">My Profile</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="">Sign Out</a></li>
        </ul>

    </div>
</nav>