<!-- navbar -->
<nav>
    <h1>Video Game Food Database
    </h1>
    <div>
        <ul>
            <li><a href="/landing">Home</a></li>
            <li><a href="/makepost">Make a post</a></li>
            {{!-- <li><a href="">Games</a></li> --}}
            <li><a href="/api/food">Dishes</a></li>
            <li><a href="/api/categories">Categories</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            {{!-- <li><a href="/login">Sign In</a></li> --}}
            <li><a href="/login">Sign Out</a></li>
        </ul>

    </div>
</nav>