<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Food DB</title>

    <head>
        <link rel="stylesheet" href="./reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="stylesheet" href="./style.css" />
    </head>

<body>

    {{!-- navbar partial --}}

    <!-- Info about app -->
    <div>
        <h1>About Our App</h1>
        <div>
            <p>Our app is all about sharing food from videogames, your favorite food from your favorite videogame that
                isn't on our site? Add it yourself to share with the world!</p>
        </div>
    </div>

    <div>
        {{!-- make link to login --}}
        <div><button><a href="">Login</a></button></div>
        {{!-- make link to Sign up --}}
        <div><button><a href="">Sign Up</a></button></div>
    </div>

</body>
</html>