{{> navbar }}

<!-- Food content from db -->
<div class="food-content">
  <h1>Food</h1>
  <div>
    
    <ul>
      {{#each food as |food|}}
        <li>{{food.dish_name}}</li>
        <li>{{food.dish_game}}</li>
        <li>{{food.dish_type}}</li>
      {{/each}}
    </ul>
  </div>
</div>