<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Game Food DB</title>

  {{!-- <link rel="stylesheet" href="./reset.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> --}}
  <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>

  {{! navbar partial }}

  <!-- Info about app -->
  <div>
    <h1>About Our App</h1>
    <div>
      <p>Our app is all about sharing food from videogames, your favorite food
        from your favorite videogame that isn't on our site? Add it yourself to
        share with the world!</p>
    </div>
  </div>

  <div>
    <!-- Link to login -->
    <p>
      Already a user?
      <a href="/login">Login now!</a>
    </p>
    <!-- Link to signup -->
    <p>
      Not a user?
      <a href="/signup">Sign up now!</a>
    </p>
  </div>

</body>