<h1> What would you like to do? </h1>
<div>
    <button type="submit" id="viewAll">View all data</button>
    <button type="submit" id="viewCategory">View all categories</button>
    <button type="submit" id="addPost">Add a new post</button>
    <button type="submit" id="myProfile">My Profile</button>
    <button type="submit" id="logout">Logout</button>
</div>
