<h1> What would you like to do? </h1>
<div>
    <a href="/api/food" id="food">
        <h3>View All Foods</h3>
    </a>
    <a href="/api/categories" id="categories">
        <h3>View All Categories</h3>
    </a>
    <a href="/makepost" id="makepost">
        <h3>Create a Post</h3>
    </a>
    <a href="/myprofile" id="myprofile">
        <h3>View Profile</h3>
    </a>
    <a href="/login" id="logout">
        <h3>Logout</h3>
    </a><br>
</div>