   {{> navbar }}

    <!-- Add Content -->
    <div id="createbox">
        <h1>Something we're missing? Make sure to add it here!</h1>
        <div>
            <h2>Add Game</h2>
            <div>
                <input type="text" placeholder="Name of the game" id="gameAdd">
            </div>
        </div>
        <div>
            <h2>Add Food Category</h2>
            <div>
                <input type="text" placeholder="Type of food?" id="categoryAdd">
            </div>
        </div>
        <div>
            <h2>Add A Dish</h2>
            <div>
                <input type="text" placeholder="What is the name of the dish?" id="dishAdd">
            </div>
        </div>
        <button type="submit" id="addPageSubmit">Submit</button>
    </div>