{{> navbar }}

    <!-- User's Page -->
    <div>
        <h1>(User Profie)</h1>
        <div>
            <h2>My Posts</h2>
            <div>
                <!-- Function that creates divs for all of the user's posts -->
            </div>
        </div>
        <!-- <div> -->
            <!-- <h2>My Favorite Posts</h2> -->
            <!-- <div> -->
                <!-- Function that creates a div of all of the user's favorite posts  -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
