* {
    text-align: center;
}

h1 {
    color: red;
    background-color: rgba(46, 109, 34, 0.401);
}

h2 {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

